services:
  # ========= Usuarios =========
  - type: pserv
    name: servicio-usuarios
    runtime: docker
    rootDir: servicio_usuarios
    envVars:
      - key: PORT
        value: "10000"
      - key: DATABASE_URL
        value: "postgresql://admin:29VnOOPbSNH5dWrafi31jQMLVTYyxQrfi@dpg-d44d5i3uibrs73er6k2g-a/laboratorios_2wcy"
      - key: JWT_SECRET_KEY
        value: "<TU_SECRETO_JWT>"
    healthCheckPath: /openapi.json

  # ========= Reservas =========
  - type: pserv
    name: servicio-reservas
    runtime: docker
    rootDir: servicio_reservas
    envVars:
      - key: PORT
        value: "10000"
      - key: DATABASE_URL
        value: "postgresql://admin:29VnOOPbSNH5dWrafi31jQMLVTYyxQrfi@dpg-d44d5i3uibrs73er6k2g-a/laboratorios_2wcy"
      - key: JWT_SECRET_KEY
        value: "<TU_SECRETO_JWT>"
      # host:port interno del servicio de usuarios
      - key: USER_SERVICE_URL
        fromService: { name: servicio-usuarios, type: pserv, property: hostport }
    healthCheckPath: /openapi.json

  # ========= Inventario =========
  - type: pserv
    name: servicio-inventario
    runtime: docker
    rootDir: servicio_inventario
    envVars:
      - key: PORT
        value: "10000"
      - key: DATABASE_URL
        value: "postgresql://admin:29VnOOPbSNH5dWrafi31jQMLVTYyxQrfi@dpg-d44d5i3uibrs73er6k2g-a/laboratorios_2wcy"
      - key: JWT_SECRET_KEY
        value: "<TU_SECRETO_JWT>"
      # host:port internos para Usuarios y Reservas
      - key: USER_SERVICE_URL
        fromService: { name: servicio-usuarios, type: pserv, property: hostport }
      - key: RESERVA_SERVICE_URL
        fromService: { name: servicio-reservas, type: pserv, property: hostport }
    healthCheckPath: /openapi.json

  # ========= Gateway Nginx =========
  - type: web
    name: gateway-nginx
    runtime: docker
    rootDir: nginx
    healthCheckPath: /__health
    envVars:
      - key: USUARIOS_HOSTPORT
        fromService: { name: servicio-usuarios, type: pserv, property: hostport }
      - key: RESERVAS_HOSTPORT
        fromService: { name: servicio-reservas, type: pserv, property: hostport }
      - key: INVENTARIO_HOSTPORT
        fromService: { name: servicio-inventario, type: pserv, property: hostport }
