upstream usuarios_up { server servicio-usuarios.railway.internal:8001; keepalive 16; }
upstream reservas_up { server servicio-reservas.railway.internal:8002; keepalive 16; }
upstream inventario_up { server servicio-inventario.railway.internal:8003; keepalive 16; }

server {
  listen 80 default_server;
  listen [::]:80 default_server;

  location = /captcha    { proxy_pass http://usuarios_up; }
  location = /token      { proxy_pass http://usuarios_up; }
  location = /register   { proxy_pass http://usuarios_up; }
  location ^~ /usuarios/ { proxy_pass http://usuarios_up; }
  location =  /usuarios  { proxy_pass http://usuarios_up; }

  location ^~ /reservas/ { proxy_pass http://reservas_up; }
  location =  /reservas  { proxy_pass http://reservas_up; }

  location ^~ /prestamos/       { proxy_pass http://inventario_up; }
  location =  /prestamos        { proxy_pass http://inventario_up; }
  location ^~ /admin/prestamos/ { proxy_pass http://inventario_up; }
  location =  /admin/prestamos  { proxy_pass http://inventario_up; }
  location ^~ /planteles/       { proxy_pass http://inventario_up; }
  location =  /planteles        { proxy_pass http://inventario_up; }
  location ^~ /laboratorios/    { proxy_pass http://inventario_up; }
  location =  /laboratorios     { proxy_pass http://inventario_up; }
  location ^~ /recursos/        { proxy_pass http://inventario_up; }
  location =  /recursos         { proxy_pass http://inventario_up; }
}
